*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #674BB0;
    background-image: url(images/bg-desktop.svg);
    background-position: center center;
    font-family: 'Varela Round', sans-serif;
    min-width: 350px;
}
.box-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.box-title{
    margin-top: 3%;
    margin-bottom: 5%;
    display: block;
    margin-right: 100%;
    margin-left: 27%;
    font-size: 120%;
    color: white;
}
.box-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.box-body img {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
}
.box-body-text{
    margin-right: 5%;
    margin-bottom: 7%;
}
.box-body-text h1{
    margin-right: 40%;
    font-size: 160%;
    color: white;
}
.box-body-text p{
    margin-top: 5%;
    margin-bottom: 5%;
}
.boton-box-body{
    cursor: pointer;
    background-color: white;
    border: 2px solid white;
    color: black;
    border-radius: 10px 10px 10px 10px;
    width: 20%;
    height: 40px;
    box-shadow: 1px 1px 5px 1px black;
    font-family: 'Varela Round', sans-serif;
}
.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5%;
    margin-left: 37%;
    margin-bottom: 3%;
}
.logo-fb{
    width: 5.5%;
}
.logo-tw{
    width: 6.5%;
}
.logo-ig{
    width: 5.5%;
}
@media (max-width: 500px){
    .container{
        flex-direction: column;
    }
    .box-title{
        margin-left: 40%;
        margin-top: 10%;
        font-size: 80%;
    }
    .box-body{
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .box-body img{
        width: 100%;
        margin-left: 0;
    }
    .box-body-text h1{
        font-size: 95%;
        margin-top: 5%;
    }
    .box-body-text p {
        font-size: 80%;
        margin-right: 5%;
    }
    .boton-box-body{
        width: 15%;
        height: 30px;
    }
    .footer{
        margin-right: 8%;
    }
    .logo-fb, .logo-ig{
        width: 8%;
    }
    .logo-tw{
        width: 10%;
    }
}
@media (max-width:750px){
    .boton-box-body{
        width: 30%;
    }
}
@media (min-width:501px){
    .boton-box-body{
        width: 40%;
    }
}
